<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapp4">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".DriverReg"
            android:label="@string/title_activity_driver_reg"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".VanOwnerPart2"
            android:label="@string/title_activity_van_owner_part2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ParentPart1"
            android:label="@string/title_activity_parent_part1"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".VanOwnerPart1"
            android:label="@string/title_activity_van_owner_part1"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Interface"
            android:label="@string/title_activity_interface"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DriverDashboard"
            android:label="@string/title_activity_driver_dashboard"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ParentDashboard"
            android:label="@string/title_activity_parent_dashboard"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".vanOwnerInterface"
            android:label="Myapp4"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>